node_modules/
resources/public/js
resources/public/css
resources/private

/target
/classes
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.env*

.hgignore
.hg/
.cpcache
.m2/
.clj-kondo/
